html{height:100%;}

body{
	height:100%;
	margin:0px;
	padding:0px;
}

#title{margin:20px;font: 1.5em bold;text-align: center;}

#container{margin:5px 5px;height:80%;}  

#buttons {
	margin: 0 5px;
	text-align: center;
	width: 300px;
	float:right;		
}

button{
	padding: 0;
	text-align: center;
	text-decoration: none;
	display: inline;
	font-size: 14px;
	width: 120px;
	cursor: pointer;
	background-color: white;
	color: black;
	border: 3px solid gray;
	border-radius: 5px;
}

button:hover {
	background-color:#FF6B21;
	color: white;
} 

#mapsample {
	margin-left: 5px;
	margin-top: 5px;
	display: inline;
	text-align: middle;
	float: left;
}

#mapsample li {
	font-size: 14px;
	float: left;
	list-style: none;
	width: 4em;
}

#selectArea {
	margin: 0 5px;
	padding: 0;
	text-align: center;
}

#c1 {
	margin-right: 2em;
	float:left;
	width: 5em;
	height: 1em;
	background: blue;
}

#c2 {
	margin-right: 2em;
	float:left;
	width: 5em;
	height: 1em;
	background: yellow;
}

#c3 {
	margin-right: 2em;
	float:left;
	width: 5em;
	height: 1em;
	background: green;
}
#c4 {
	margin-right: 2em;
	float:left;
	width: 5em;
	height: 1em;
	background: red;
}
