			body{
				margin: 0px;
				padding: 0px;
				background-color:#f6f6f6;	
			}
			#title_bar {
				/*position: fixed;
				top:0px;
				z-index: 9999;*/
				margin: 0px;
				height: 200px;
				width: 100%;
				background-color: #778899;	
			}
			#site_title {		
				margin: 0;	
				height: 190px;
				line-height: 190px;	
				text-align: center;	
			}
			#site_title p {	
				margin: 0;
				padding-top: 1em;
				color:white;			
				line-height: 1.5;
				font-size:2.8em ;
				font-family:Times,TimesNR,sans-serif,微软雅黑;
				display: inline-block;				
			}

			#menu {
				margin: 0;
				padding: 0;
				width: 100%;			
				height: 50px;
				/*background-color:gray;*/
			}
			#menu ul {
				margin-left:5px;
				padding-left: 20px;
				line-height: 50px;
				list-style-type: none;				
				width: 100%;
			}

			#menu ul li {				
				width: 120px;
				font: 1.5em bold;
				float: left;
				list-style: none;
				display: inline;
				color: gray;				
			}
			#menu a {text-decoration: none; color:gray;}
			#menu a:hover,a:active {
				background-color:#7A991A;
				color: white;
			}
			#main {
				margin:0px;				
			}

			#left_main {
				margin: 5px;
				float: left;
				width: 20%;			
				
			}

			#left_main_con {
				background-color: rgb(240, 249, 253);
				margin-bottom: 0px;			
				border-top: solid 10px;
				color: gray;				
			}
			#left_main_con li{
				padding-left: 20px;
				list-style: none;				
				border:solid gray;
				border-width: 0 1px 1px 1px;			
				height: 2em;
				padding-top: 6px;

			}
			#left_main_con a{;text-decoration: none;color: gray;}
			#left_main_con a:hover,a:active {
				background-color:#7A991A;
				color: white;
			}
			
			#middle_main {
				margin: 0 5px 5px 0;
				float: left;
				width: 60%;
				/*background-color: gray;*/
			}

			#right_main {
				margin:0 5px 5px 0;
				float: left;
				width: 18%;
				
				/*background-color: gray;*/
			}		

			.con {				
				margin: 5px;	
				height: 240px;
				width: 99%;
				background-color: rgb(240, 249, 253);
				border:solid 1px gray;
			}

			.left_con {
				border-left: solid 10px;
				color: gray;
				width: 30px;
				height: 240px;
				display:table-cell;
				text-align:center;
				vertical-align:middle;	
				font:1.2em bold;						
			}

			.right_con {
				font-weight:normal;
				position: relative;
				left:2em;
				display:table-cell;	
				text-align: left;
				vertical-align: middle;				
			}
			.right_con li {				
				width:10em;	
				height:1.5em;
				list-style: none;	
			}
			.right_con a {text-decoration: none; color:gray;}
			.right_con a:hover,a:active {
				background-color:#7A991A;
				color: white;
			}		
			.right_con2 {
				font-weight: normal;
				position: relative;
				left: 2em;
				display: table-cell;	
				text-align: left;
				vertical-align: middle;				
			}
			.right_con2 li {
				width:18em;	
				height:1.5em;
				list-style: none;	
			}
			.right_con2 a {text-decoration: none; color:gray;}
			.right_con2 a:hover,a:active {
				background-color:#7A991A;
				color: white;
			}			

			.right_con3 {
				padding: 10px 10px;
				font-weight:normal;
				position: relative;
				left:2em;				
				display:table-cell;
				text-align: left;
				vertical-align: middle;							
			}
			.right_con3 li {
				width: 400px;
				height: 1.8em;
				list-style: none;
				background-color: gray;				
			}	

			#bottom {				
				width: 100%;
				height:100px;
				float:left;
				margin: 0;
				padding-top: 20px;
				background-color:#778899; 
				vertical-align: middle;
				color: rgb(240, 249, 253);
			}
			#bottom p {
				color:white;
				margin: 0;
				padding: 0;			
				text-align: center;
				font:1em bold;
				line-height: 1.5em;
			}
			
			
